/* h1 {
  margin: 0px;
  vertical-align: text-top;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: darkblue;
}

div.nav {
  padding: 8px;
  box-shadow: 0px 3px 20px 0px #888888;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
}

/* div.main-container {
  width: 100%;
  max-width: 600px;
  margin: 80px auto 0px auto;
} */

/* infographics */

rect {
  fill: #ed3d3f;
}

circle.before {
  fill: #edaf3f;
}

circle.final {
  fill: #31a5d7;
}

table {
  margin: 10px 0px;
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 25%;
  text-align: center;
}
